/* 适用于移动端 */
/* 类名中的单词用连字符连接，不用驼峰或下划线 */
@charset "UTF-8";

/* 触摸反馈默认样式 */
.touch-default{
	opacity: .7;
}


.ul-default{
	background-color: #eee;
}
.li-default{
	height: 3em;
	line-height: 3em;
	box-sizing: border-box;
	padding-left: 3%;
	padding-right: 3%;
	background-color: #eee;
}
.li-title{
	
}
.wrap-top{
	width: 100%;
	position: relative;
}
.topbar{
	width: 100%;
	text-align: center;
}
.topbar-links{
	height: 3em;
	margin-bottom: 0.2em;
	line-height: 3em;
	background-color: #f0f0f0;
}
.topbar-back{
	height: 100%;
	width: 20%;
	position: absolute;
	left: 0;
}
.topbar-back:before{
	content: "";
	display: block;
	position: absolute;
	left: 15%;
	top: .8em;
	height: 1em;
	width: 1em;
	border-left: 2px solid #bbb;
	border-bottom: 2px solid #bbb;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}